{% extends 'home.html' %}
{% block content %}


<ul class="list-group" style="font-family: 'Josefin Sans', sans-serif;">
    <li><h1 style="margin-left:10em;">Host to Meet</h1></li>
</ul>
  <hr>
  <table  border="1" style="padding: 15px; border-spacing: 5px; font-family: 'Abel', sans-serif;" class="table table-hover">
                    <tr style="text-align:center;">
                      <th scope="col">Name</th>
                      <th scope="col">Email ID</th>
                      <th scope="col">Contact No</th>
                    </tr>

                    {% for i in host %}
                    <tr style="text-align:center;">
                      <td>{{ i.host_name }}</td>
                      <td>{{ i.email }}</td>
                      <td>{{ i.phone_no }}</td>
                    </tr>

                    {% endfor %}
  </table>




{% endblock %}
